.ch-grid {
  margin: 0 auto;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}


.ch-grid a li{
  text-decoration: none;
  margin-top: 10px;
}

.ch-grid a li p{
    font-size: 36px;
    color:#363033;
}

.ch-grid .want-help{
  z-index: 2;
  width: 45%;
  height: 70%;
  font-size: 22px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 1px;
  border-style:dashed;
  border-color:rgba(254, 134, 149, 1);
  background-color: #f1f0f0;
  transition: .2s;
}

.ch-grid .want-help:hover{
  color: #f1f0f0;
}


.ch-grid .please-help{
  z-index: 2;
  width: 45%;
  height: 70%;
  font-size:22px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px;
  border-style:dashed;
  border-color:rgba(254, 134, 149, 1);
  background-color: #f1f0f0;
  transition: .2s;
}

.ch-grid .please-help:hover{
  color: #f1f0f0;
}
