html, body{
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  height:100%;
  overflow-x: hidden;
}
body .container {
  width: 95%;
}

nav{
  position: fixed;
  top: 0 auto;
  background-color: #ECF4FF;
  width: 100%;
  height: 9%;
  padding-left: 7%;
  text-align:center;
  border-bottom: .1px solid #666666;
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
}
nav li{
  display: inline-block;
  height: auto;
  float: left;
}
nav ul li.logo{
  padding-right: 10%;
  float: none;
}
nav ul li a{
  color: #595959;
  font-size: 16px;
  font-family: sans-serif;
  display:block;
  padding: 20px;
  transition: .5s;
  text-decoration: none;
}
nav li a:hover{
  color:#57E9F2;
  text-decoration: none;
}
nav li .cd-signin{
  color:#595959;
  background: none;
  border-radius: 25px;
  border: 2px solid #57E9F2;
  padding-top: 5%;
  padding-bottom : 5%;
  margin-top: 11%;
}
nav li .cd-signin:hover{
  background: #57E9F2;
  color: #ECF4FF;
  transition: .3s;
}

.container {
  text-align: center;
  margin-top: 5%;
}
.container img{
margin: 0 auto;
}
.container .logo{
  text-align: center;
}
.logo-img{
  margin-top: -31%;
  display:inline-block;
  width:50px;
  height:50px;
  margin-left: 50%;
  float: center;
  background-color: none;
  border-radius:25px;
  border-color: #000;
  border: 5px;
}
abbr{
    border-bottom:1px dotted #333;
    cursor:help;
}
